@import '../variables.scss';

#map-container {
	width: 100%;
	height: 100%;
}

.county-popup {
	padding: 10px;
	font-family: 'Poppins' !important;

	&__name {
		font-size: 16px;
		margin-bottom: 5px;
		color: #2e2e2e;
	}

	&__plots {
		font-size: 14px;
		color: #2e2e2e;
	}
}