@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/700.css';

html,
body,
main,
#root,
.layer {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html,
body {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #484848;
}

p {
	margin: 0 0 12px 0;
}